@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --black:black;
    --white:white;
    --blue:#002A54;
    --lightblue:#8AA8FF;
    --orange:#FF9800;
    --font-principal:"Plus Jakarta Sans";
}
:root {
    --font-inter: 'Inter', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-space: 'Space Grotesk', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--black);
    align-items: start;
}
section.inicio{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 55vw;
    margin-top: 2vh;
}
img{
    width: 20%;
    border-radius: 10px;
}
strong{
    color: var(--white);
}
h1{
    display: flex;
    color: var(--orange);
    font-size: 2em;
    padding-left: 2vw;
    gap: 5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: right;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    
}
li>a{
    font-family: var(--font-outfit);
    font-size: 1em;
    text-decoration: none;
    color: var(--orange);
    font-weight: bolder;
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}
