@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --darkblue:#00000F;
    --white: #FBFFFF;
    --blue:#002A54;
    --lightblue:#8AA8FF;
    --orange:#FF9800;
    --font-principal:"Plus Jakarta Sans";
}
:root {
    --font-inter: 'Inter', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-space: 'Space Grotesk', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--white);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vh;
    background-color: var(--blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1{
    font-family: var(--font-outfit);
    font-size: 7vh;
    padding-bottom: 2vh;
    color: var(--white);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    width: 100%;
    gap: 1vw;
    padding: 1vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav>a{
    color: var(--white);
    font-family: var(--font-space);
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    color: var(--blue);
}
img{
    width: 30vh;
    border-radius: 30%;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}
